@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/Fonts/Inter/Inter-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/Fonts/Inter/Inter-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/Fonts/Inter/Inter-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/Fonts/Inter/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/Fonts/Inter/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: 'Inter', 'sans-serif' !important;
}

.btn-shadow {
  box-shadow: 
    0 4px 42px 1px rgba(71, 114, 255), 
    inset 0 5px 19.9px rgba(255, 255, 255, 0.49);
}
